:root {
    --PaleBlue: hsl(243, 100%, 93%);
    --GrayishBlue: hsl(229, 7%, 55%);
    --DarkBlue: hsl(228, 56%, 26%);
    --VeryDarkBlue: hsl(229, 57%, 11%);

}

@font-face {
    font-family: Raleway;
    src: url(fonts/Raleway/static/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway-Bold;
    src: url(fonts/Raleway/static/Raleway-Bold.ttf);
}

@font-face {
    font-family: Raleway-light;
    src: url(fonts/Raleway/static/Raleway-ExtraLight.ttf);
}


body {
    background-color: var(--VeryDarkBlue);
    background-image: url(../imgs/bg-desktop.png);
    background-position: bottom;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: Raleway;

}

.content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}


.content-two {
    height: 15%;
    width: 35%;
    min-width: 350px;
    border-radius: 15px;
    background-color: var(--DarkBlue);
    padding: 35px;
    color: white;
    margin: 0 25px;
}

.content-one {
    width: 350px;
    height: 225px;
    background-color: var(--DarkBlue);
    border-radius: 10px 30% 10px 10px;
    margin: 0px 10px;
    position: relative;
    bottom: 15px;
}

svg {
    position: relative;
    left: 40px;
    top: 40px;
}

.icons {
    position: relative;
    top: 40px;
    left: -10px;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    margin-top: 15px;
}

.icons>.img {
    margin: 10px;
    background-color: var(--VeryDarkBlue);
    padding: 10px;
    border-radius: 15px;
    width: 40px;
    height: 40px;
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}

.icons .img:nth-child(1) {
    background-image: url("../imgs/icon-document.svg");
}

.icons .img:nth-child(2) {
    background-image: url("../imgs/icon-folder.svg");
}

.icons .img:nth-child(3) {
    background-image: url("../imgs/icon-upload.svg");
}


.storage {
    background-image: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
    border-radius: 40px;
    width: 80%;
    height: 70%;
    position: relative;
    left: 0.7%;
    top: 15%;
}

.storage::after {
    content: "";
    border: 6px white solid;
    position: absolute;
    border-radius: 50%;
    right: 2px;
}

.bold-text {
    font-family: Raleway-Bold;
    font-weight: bolder;
}

.remaining-storage {
    background-color: var(--VeryDarkBlue);
    width: 100%;
    height: 17%;
    height: 19px;
    border-radius: 40px;
    position: relative;

}

.content-two>p {
    position: relative;
    font-family: Raleway-light;
}

.min-storage {
    position: relative;
    top: 15px;
    font-family: Raleway-Bold;
}

.max-storage {
    display: flex;
    justify-content: end;
    font-family: Raleway-Bold;
}

.box3 {

    background-color: white;
    width: fit-content;
    padding: 15px 25px;
    position: relative;
    left: 67%;
    bottom: 140px;
    border-radius: 7px 7px 0 7px;
}

.box3:after {
    content: " ";
    position: absolute;
    right: 0px;
    bottom: -14px;
    border-top: 15px solid white;
    border-right: none;
    border-left: 20px solid transparent;
    border-bottom: none;
}




.remaining-GB {
    color: black;
    font-size: 30px;
    font-family: Raleway-Bold;
}

.GB-LEFT {
    font-size: 8px;
    color: gray;
}

@media(min-width: 376px) and (max-width: 855px) {
    body {
        background-image: url(../imgs/bg-mobile.png);
        background-size: contain;
        background-size: cover;

    }

    .box3 {
        position: relative;
        top: 60px;
        left: 98px;
        width: fit-content;
        height: 40px;
        border-radius: 6px;

    }

    .content-one {
        min-width: 420px;
    }

    .box3:after {
        display: none;
    }

    .content-two>p {
        text-align: center;
    }

    .remaining-GB {
        font-size: 35px;
    }

    .GB-LEFT {
        font-size: 15px;
    }
}

@media(max-width:375px) {
    .box3 {
        position: relative;
        top: 30px;
        left: 45px;
        padding: 10px;

    }

    .box3:after {
        display: none;
    }

    .content-two {
        min-width: 257px;
        margin-right: 10%;
    }

    .content-one {
        margin-right: 6%;
        width: 330px;
    }

    .icons {
        padding-left: 38px;
        margin-right: 35px;
    }




}